In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = "/content/drive/MyDrive/Journal_Analysis/"

In [ ]:
att = pd.read_excel(path + "Final_Topics/ASQ_Article Attributes 2011-20.xlsx")

In [ ]:
att.columns

Index(['DOI', 'Authors', 'Gender 1st A', 'Gender Other', 'Affiliation', 'US',
       'Canada', 'Europe', 'Asia', 'Other', 'Article-title', 'Subtitle',
       'Publication Date', 'Year', 'Volume', 'Issue', 'Total Citations',
       'Average per Year', 'Method', 'Data Source', 'Analysis Level',
       'Abstract', 'Unnamed: 22'],
      dtype='object')

In [ ]:
#sheet to be merged 
methods_tfidf = pd.read_excel(path + "Analysis/Methods_TFIDF.xlsx")

In [ ]:
#if the DOI has "_" instead of "/"
methods_tfidf["DOI"] = methods_tfidf["DOI"].apply(lambda x: x.replace("_", "/"))

In [ ]:
methods_merged = pd.merge(methods_tfidf, att[["DOI", "Year", "Article-title", "Abstract"]], on = "DOI", how = "outer")

In [ ]:
methods_merged.head()

   Unnamed: 0  ...                                           Abstract
0         0.0  ...  In this article, we attempt to resolve the ten...
1         1.0  ...  We investigate the dispositional sources of ma...
2         2.0  ...  A nine-year ethnography is used to show how tw...
3         3.0  ...  In an analysis of data on employment in the 48...
4         4.0  ...  We examine the responses of major pharmaceutic...

[5 rows x 10 columns]

In [ ]:
methods_merged.to_excel(path + "Analysis/Methods/methods_merged_tfidf.xlsx")